    <!-- Newsletter Signup Call to Action -->
    <section class="page-section signup-form bg-inverse text-white">
      <div class="container text-center">
        <h3 class="m0"><%= @template_one.newsletter_title %></h3>
        <hr class="colored">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <!-- Replace the form action in the line below with your MailChimp embed action! Visit the documentation for additional instructions! -->
              <form role="form" action="//startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="input-group input-group-lg">
                  <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                  <span class="input-group-btn">
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe!</button>
                  </span>
                </div>
                <div id="mce-responses">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
              </form>
            </div>
            <!-- End MailChimp Signup Form -->
          </div>
        </div>
      </div>
    </section>