<!-- Portfolio Carousel Heading -->
<section class="page-section bg-light" id="work">
  <div class="container text-center wow fadeIn">
    <h2 id='portfolio_header_title_show'><%= @template_one.portfolio_header_title %></h2>
    <hr class="colored">
    <p id='portfolio_header_text_show'><%= @template_one.portfolio_header_text %></p>
  </div>
</section>
