<div class='container'>
<h1>Editing Page</h1>

<%= render 'form', page: @page %>

<%= link_to 'Show', template_one_page_path(@template_one, @page) %> |
<%= link_to 'Back', template_one_pages_path %> 

<br><br><br><br>
</div>