<% if @template_one.portfolio_header_hide == false %> 
<!-- Portfolio Carousel Heading -->
<section class="page-section bg-light" id="work">
  <div class="container text-center wow fadeIn">
    <h2><%= @template_one.portfolio_header_title %></h2>
    <hr class="colored">
    <p><%= @template_one.portfolio_header_text %></p>
  </div>
</section>        
<% end %>
